:root{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}



body {
	background: #d2d2c1	 url('imagens/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;


}


#principal { 
	
	width: 900px;	
	/*width: 900px;	
	display: grid;
	place-items: center;
	*/

	/*display: flex;
	align-items: center;
	justify-content: center;

*/
	

	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
*/

}


#menu {
	background: #c5c5b2;
	padding: 15px; /*aplica um espaçamento interno*/	
}

#conteudo {
	background: #c5c5b2;
	padding: 10px;

}

#rodape { 

 	text-align: center;


}


/*formatação dos links do site */
a { 

	color: #4b566a;
	text-decoration: none; /* removendo o underline do link=none*/
	font-weight: bold; /*intensidade da fonte, neste caso em negrito*/	
	padding: 5px;
}


h1 { 
	color: #828271;
	font-size: 1.2em;
}

.img-campanha { 
	border: 10px solid #A9A9A9;
}

#dov{

	display: flex;
	justify-content: center;
}